#page
	width 100%
	height 100%
	display grid
	grid-template-columns repeat(8, 1fr)
	grid-template-rows min-content auto min-content
	margin 0 auto
	+widerThan($tabletSM)
		width 80%
	footer
		grid-column 1 / -1
		padding 4em 2em
		position relative
	> #content
		grid-column 1 / -1
		#primary
			padding 2em 2em 0