$color__background-body = white
$color__background-screen = #f1f1f1
$color__background-hr = #cccccc
$color__background-button = #e6e6e6
$color__background-pre = #eeeeee
$color__background-ins = #fff9c0
$color__text-screen = #21759b
$color__text-input = #666666
$color__text-input-focus = #111111

$color__onDark_link = #fff
$color__onDark_link-visited = #fff
$color__onDark_link-hover = rgba(255,255,255,0.7)

$color__onLight_link = #999999
$color__onLight_link-visited = #999999
$color__onLight_link-hover = #111111

$color__text-main = #404040

$color__border-button = #cccccc #cccccc #bbbbbb
$color__border-button-hover = #cccccc #bbbbbb #aaaaaa
$color__border-button-focus = #aaaaaa #bbbbbb #bbbbbb
$color__border-input = #cccccc
$color__border-abbr = #666666

$color__social_twitter = #1da1f2
$color__social_instagram = #c32aa3
$color__social_dribbble = #ea4c89
$color__social_linkedin = #007bb5