.page-template-page-landing
	#page
		grid-template-rows 1fr 1fr auto !important
		> header
			flex-direction column
			justify-content flex-end
			align-items center
		> #content
			.entry-content
				margin 0
				text-align center
		> footer
			.site-info
				text-align center