/* General */
.sticky
	display block
.hentry
	margin 0
.byline
.updated:not(.published)
	display none
.single .byline
.group-blog .byline
	display inline
.page-content
.entry-content
.entry-summary
	margin 1.5em 0 0
.page-links
	clear both
	margin 0 0 1.5em

/* Homepage */
.projects-list
	display grid
	grid-template-columns 1fr 1fr
	article
		min-height 80vh
		padding 2em
		
/* Contact Page */

/* Posts Content */
