button
input[type="button"]
input[type="reset"]
input[type="submit"]
	width 100%
	border 0
	border-radius 100px
	background $color__background-button
	color rgba(0, 0, 0, 0.8)
	font-size(0.75)
	line-height 1
	padding 1.5em
	text-shadow 0 1px 0 rgba(255, 255, 255, 0.8)
	&:hover
		background darken($color__background-button, 10%)
	&:active
	&:focus
		border-color $color__border-button-focus