a
	color $color__onLight_link
	display inline-block
	text-decoration underline
	transition .2s all ease-out
	&:visited
		color $color__onLight_link-visited
	&:hover
	&:focus
	&:active
		color $color__onLight_link-hover
		text-decoration none
	&:focus
		outline thin dotted
	&:hover
	&:active
		outline 0

.mobile-is-visible
	.main-navigation
		a
			color $color__onDark_link
			&:visited
				color $color__onDark_link-visited
			&:hover
			&:focus
			&:active
				color $color__onDark_link-hover
				text-decoration none
			&:focus
				outline thin dotted
			&:hover
			&:active
				outline 0